
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
    <div class="container vh-100">
        <h2 class="mt-4">Item wasn't deleted,because it is already used as a genre for games. Delete game or change genre of this game to delete this genre</h2>
        <hr>
        <div class="form-group mt-4">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("<-Back", "Index", null, new { @class = "btn btn-primary bg-warning" })
               
            </div>
        </div>
    </div>
<hr>

